@import url("https://fonts.googleapis.com/css2?family=Andika&display=swap");

body {
    margin: 0;
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
    font-family: "Andika", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #212223;
    color: #fffffff2;
    width: 100%;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.webcam-block {
    position: absolute;
    top: 2rem;
    left: 2rem;
    height: calc(100% - 6rem);
    width: calc(100% - 4rem);
    text-align: center;
}

#video-display {
    display: inline-block;
    height: 100%;
    width: min-content;
    max-width: 100%;
    border-radius: 16px;
    background-color: #111111;
    box-shadow: 4px 4px 10px #00000040;
}

.card_stack {
    position: fixed;
    font-size: calc(2rem + 2.5vw);
    /* right: 7.3em; */
    right: 1rem;
    bottom: 1rem;
    width: 6.95em;
    height: 3.05em;
}

.card {
    position: absolute;
    display: block;
    color: #ffffffd9;
    border-radius: 0.6em;
    text-align: center;
    box-shadow: 6px 6px 10px #00000040;
}

.card_label {
    padding: 0;
    margin: 0;
    height: min-content;
    font-style: normal;
    font-weight: normal;
    font-size: 2em;
}

.card_first {
    top: 0;
    left: 0;
    width: 6.7em;
    height: 2.8em;
    line-height: 2.8em;
    z-index: 2;
}

@keyframes first-card-animation {
    0% {
        opacity: 10%;
    }
    100% {
        opacity: 100%;
    }
}

.card_first {
    animation: first-card-animation 0.7s;
}

.card-faded {
    transition: opacity 0.5s ease-out;
    opacity: 90%;
}

.card_second {
    top: 0.45em;
    left: 0.45em;
    width: 6.5em;
    height: 2.6em;
    line-height: 2.6em;
    z-index: 1;
    opacity: 80%;
}

.card_none {
    visibility: hidden;
}

.card_yes {
    background: linear-gradient(99.28deg, #5cc653 0%, #2bd4acfa 100%);
}

.card_yes-colorblind{
    background: linear-gradient(99.28deg, #e2e06a 0%, #d9b44f 100%);
}

.card_no {
    background: linear-gradient(109.38deg, #ff5a5a 21.05%, #f254a0 81.42%);
}

.card_no-colorblind{
    background: linear-gradient(99.28deg, #c99eff 0%, #8e6bc5 100%);
}

.card_waiting {
    background: linear-gradient(292.69deg, #5c8aff 20.45%, #43d2ff 77.48%);
}

/* Waiting card jump animations */
/* Adapted from http://www.java2s.com/example/html-css/css-animation/jumping-dots-animation.html */

.waiting-dots-cont {
    display: inline;
}
.waiting-dot {
    width: 0.25em;
    height: 0.25em;
    background: white;
    display: inline-block;
    border-radius: 50%;
    right: 0;
    bottom: 0;
    margin: 0 0.0875em;
    margin-bottom: 0.25em;
    position: relative;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Edge */
    user-select: none;
}

@media (prefers-reduced-motion: no-preference) {
    .waiting-dot {
        animation: jump 4s infinite;
    }
}

.waiting-dots-cont .dot-1 {
    -webkit-animation-delay: 400ms;
    animation-delay: 200ms;
}
.waiting-dots-cont .dot-2 {
    -webkit-animation-delay: 800ms;
    animation-delay: 400ms;
}
.waiting-dots-cont .dot-3 {
    -webkit-animation-delay: 120ms;
    animation-delay: 600ms;
}
@keyframes jump {
    0% {
        bottom: 0;
    }
    10% {
        bottom: 0.5rem;
    }
    20% {
        bottom: 0;
    }
}

.menu-btn,
.menu-btn-open {
    position: absolute;
    width: 4.5em;
    height: 4.5em;
    left: 1.5em;
    top: 1.5em;
    justify-content: center;
    align-items: center;
    /* transition: all .01s ease-in-out; */
    display: flex;
    border: none;
    background: white;
    border-radius: 2.25em;
    z-index: 1;
    box-shadow: 6px 6px 10px #00000040;
    transition: width ease-in 0.3s, height 0.3 ease-in;
}

.menu-list {
    padding: 0 0.75rem 0.75rem 0.75rem;
    color: black;
    margin: 1em 0.5em 0 0.5em;
    list-style-type: disc;
    list-style-position: inside;
}

.menu-list > li {
    padding: 0.1em 0 0.1em 0;
}

.menu-list > li > button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    font-size: 1.1em;
    font-family: "Andika", sans-serif;
}

.menu-btn > ul {
    display: none;
}

.menu-btn-open {
    width: max-content;
    max-width: 33ch;
    height: min-content;
    /* border-radius: 1em; */
    display: inline;
    padding: 0.5rem;
    /* z-index: -1; */
}

.menu-wrapper {
    position: absolute;
}

.burger-wrapper {
    display: flex;
    height: min-content;
    width: min-content;
    align-items: center;
}

.menu-btn-open > .burger-wrapper {
    margin-top: 1.5rem;
    margin-left: 0.75rem;
}

.menu-btn__burger {
    width: 1.9em;
    height: 0.4em;
    background: black;
    border-radius: 1em;
    transition: all 0.5s ease-in-out;
}

.menu-btn__burger::before,
.menu-btn__burger::after {
    content: "";
    position: absolute;
    width: 1.9em;
    height: 0.4em;
    background: black;
    border-radius: 1em;
    transition: all 0.5s ease-in-out;
}

.menu-btn__burger::before {
    transform: translateY(-0.75em);
}

.menu-btn__burger::after {
    transform: translateY(0.75em);
}

/* ANIMATION */
.menu-btn-open .menu-btn__burger {
    transform: translateX(-3.1em);
    background: transparent;
    box-shadow: none;
}
.menu-btn-open .menu-btn__burger::before {
    transform: rotate(45deg) translate(2.2em, -2.2em);
}
.menu-btn-open .menu-btn__burger::after {
    transform: rotate(-45deg) translate(2.2em, 2.2em);
}

.helpIconBgrnd {
    position: absolute;
    width: 3em;
    height: 3em;
    left: calc(100vw - 9em);
    top: 1.5em;
    background: white;
    border-radius: 100%;
    z-index: 1;
    box-shadow: 6px 6px 10px #00000040;
}

.help-icon {
    position: absolute;
    width: 2.3em;
    height: 2.3em;
    top: 0.35em;
    left: 0.35em;
    background: white;
    border-radius: 100%;
}

.reloadIconBgrnd {
    position: absolute;
    width: 3em;
    height: 3em;
    left: calc(100vw - 5em);
    top: 1.5em;
    box-shadow: 6px 6px 10px #00000040;
    background: white;
    border-radius: 100%;
    z-index: 1;
}

.reload-icon {
    position: absolute;
    width: 2em;
    height: 2em;
    top: 0.5em;
    left: 0.5em;
    border-radius: 100%;
    background: white;
    transition: all 0.5s ease-in-out;
}

.footerElements {
    display: flex;
    position: absolute;
    bottom: -4rem;
    height: 4rem;
    align-items: center;
    margin-top: 0;
    gap: 0.5rem;
}

.girlBgrnd {
    position: relative;
    width: 42px;
    height: 42px;
    border-radius: 100%;
    z-index: 1;
}

.eye-selected-face-bg {
    background-color: #2c2c2c;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.face-selected-face-bg {
    background-color: white;
    box-shadow: inset 0px 4px 6px rgba(0, 0, 0, 0.25);
}

.girllogo {
    position: absolute;
    width: 25px;
    height: 25px;
    left: 8px;
    top: 8px;
}

.eyeBgrnd {
    position: relative;
    width: 42px;
    height: 42px;
    border-radius: 100%;
    z-index: 1;
}

.eye-selected-eye-bg {
    background-color: white;
    box-shadow: inset 0px 4px 6px rgba(0, 0, 0, 0.25);
}

.face-selected-eye-bg {
    background-color: #2c2c2c;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.eyelogo {
    position: absolute;
    width: 2rem;
    height: 2rem;
    left: 5px;
    top: 6px;
}

.labelContent {
    width: max-content;
    height: min-content;
    font-style: normal;
    font-weight: normal;
    font-size: 2rem;
    line-height: 39px;
    color: white;
    margin-inline-start: 0.6rem;
}

.footerElements {
    display: flex;
}

/*-- Help Menu --*/
.help-menu-overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 5;
    background-color: hsla(0, 0%, 7%, 0.5);
    animation: show-menu 0.3s;
}

.help-menu {
    position: fixed;
    border-radius: 2rem;
    display: block;
    width: min(60vw, 90ch);
    height: 30rem;
    left: calc((100vw - min(60vw, 90ch)) / 2);
    top: calc((100vh - 30rem) / 2);
    background-color: #ffffff;
    z-index: 6;
    /* transition: opacity 0.3s ease-in; */
    animation: show-menu 0.3s;
}

@keyframes show-menu {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

.help-menu-close {
    position: absolute;
    right: 0.75rem;
    top: 0.75rem;
}

.help-menu-icon {
    position: absolute;
    width: 3rem;
    left: 2rem;
    top: 1rem;
}

.help-menu-title {
    position: absolute;
    color: #000000;
    top: 1.2rem;
    left: 6rem;
    margin: 0;
}

.help-menu-content {
    color: #000000;
    position: absolute;
    width: calc(100% - 4rem);
    height: calc(100% - 5rem);
    /* top: 17%; */
    margin-top: 5rem;
    padding-inline: 2rem;
    /* background-color: #ff7171dd; */
}

.labelContent::before {
    content: "|";
    color: white;
    position: relative;
    right: 0.5rem;
    bottom: 0.1rem;
}

@media only screen and (max-width: 720px) {
    .labelContent {
        display: none;
    }
}
